.Tabs {
    width: 100%;
    height: 100%;
    min-height: 200px;
    background: #F5F7Fb;
    padding: 1rem 0rem;
    color: #212121;
    border-radius: 2rem;
    @media (max-width: 769px) {
      padding: 2rem 0;
    }
  }
  
  ul.nav {
    width: fit-content;
    margin-top: -2rem;
    margin-left: 1rem;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    @media (max-width: 768px) {
      width: 90%;
    }
  }
  ul.nav li {
    width: 50%;
    padding: 0rem;
    list-style: none;
    text-align: left;
    font: bold;
    color: #212121;
    opacity: 40%;
    cursor: pointer;
    transition: all 0.7s;
  
  }
  ul.nav li:nth-child(2) {
    border-radius: 0;
  
  }
  ul.nav li:hover {
    background: #416EDF;
  }
  ul.nav li.active {
    /* background: #416EDF; */
    color: #212121;
    opacity: 100%;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #416EDF;
    text-decoration-thickness:2px ;
  }
  
  .FirstTab h3{
    font-size: 16px;
    margin-left: 0rem;
  }
  .SecondTab p {
    font-size: 16px;
    text-align: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .grid-item-stat {
    background-color: inherit;
    padding: 0px;
    margin-left: -1rem;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
  }
  
  .grid-item-number {
    padding: 0px;
    margin-left: -2rem;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
  }
  